h1{
    border: 1px solid yellow;
    width: 150px;
    margin: 25px auto;
    box-shadow: 2px 2px 2px 2px yellow;
    border-radius: 8px;
    padding: 0px 35px;
    color: white;
}

p{
    border: 1px solid yellow ;
    margin:left;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px yellow;
    text-align: justify;
    color: white;
   
}

div{
    border: 1px solid   black  ;
    height:100vh;
    padding: 10px;
    border-radius: 8px;
    background-image:url(../HTML/DMIPL7097.avif);
    background-position: center;
    background-size: cover;
    
   
}
