h1{
    color:brown;
    font-size: 32px;
    text-align: center;
}
#sri{
    color: aqua;
    font-size: 32px;
    text-align: start;
}
p{
    text-indent: 50px;
    text-transform: capitalize;
    font-weight: bold;
}
p::first-letter
{
    font-size: 32px;
}
a{
    
}