  table {
    border-collapse: collapse;
    
    border:2px solid black ;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 5px 5px 35px black;
    
    
   
  }
  h1{
    text-align: center;
    color: white;
  }

  td {
    width: 90px;
    height: 90px;
    text-align: center;
    margin: auto;
    font-size: 40px;
  }

  .white {
    background-color: #ebebe5;
  }

  .black {
    background-color: #adacac;
  }
  div{
    background-image:url(../css/chess-3801531_960_720.jpg)  ;
    padding: 30px;
    background-position: center;
    background-size: cover;
    
  
  }