h1{
    text-align: center;
}
h2{
    text-align: start;
}
table,th,td{border-collapse:collapse;
    
    border: 1px black solid;
    padding: 2px;
    text-align: left;
    height: 40px;

    
}
table{
    width: 75%;
   
}
p{

    text-align: justify;
}