table,th,td{
    border-collapse:collapse;
    border: 1px black solid;
    
}
table{
    margin:auto;
}
.timetable{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 32px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
   
}
.timetable,th,td{
    text-align: center;
    height: 40px;
    padding: 10px;
}
.flag
{
    width: 20%;
}
.yellow{
    background-color: orange;
}
.white{
    background-color: white;
    padding: 2px;
    
}
.green
{
    background-color: green;
}
img{
    width: 55px;
}
